
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Core Fitness Demo Website</title>
    
    <link rel="stylesheet"  type="text/css" href="/PHPCF/css/style.css" >


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a7136a10c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" media="screen and (min-width: 900px)" href="widescreen.css">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">

</head>
<body>

    
    <div class="bg-image"> </div>    
    

    <div class="topnav" id="myTopnav">
        <img class="logo" src="/PHPCF/images/white-logo.png">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <li><a href="/PHPCF/views/home/index.html">Home</a></li>
          <li><a href="/PHPCF/views/pricing/pricing.html">Membership</a></li>
          <li><a href="/PHPCF/views/userlogin/account.php">Account</a></li>
          <li><a href="/PHPCF/views/payment/cart.php"><i class="fa-solid fa-shopping-cart"></i></a></li>
        </ul>
      </div>
      
      <div class="text-container">
        <div class="bg-text">
            <h2>LET'S TRAIN</h2>
            <h1>Building Fitness<br>In Boston</h1>
            <div class="box-1">
                <a href="/PHPCF/views/pricing/pricing.html" class="herobtn btn-one"><span>JOIN US</span></a>
            </div>
        </div>
    </div>
    
    



    <section class="us_section">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Why Choose Us
                </h2>
            </div>
    
            <div class="us_container ">
                <div class="grid-container">
                    <div class="box">
                        <i class="fa-solid fa-dumbbell"></i>
                        <div class="detail-box">
                            <h5>
                                QUALITY EQUIPMENT
                            </h5>
                            <p>
                                Our gym is equipped with state-of-the-art machines and free weights to ensure you have the best workout experience. Whether you are looking to build muscle, improve your cardio, or simply stay fit, our equipment will meet your needs.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <i class="fa-solid fa-heart"></i>
                        <div class="detail-box">
                            <h5>
                                NUTRITION
                            </h5>
                            <p>
                                We offer personalized nutrition plans to help you achieve your fitness goals. Our team of nutrition experts will guide you on the right path to a balanced diet, ensuring you get the right nutrients to fuel your workouts and recovery.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <i class="fa-solid fa-person-running"></i>
                        <div class="detail-box">
                            <h5>
                                HEALTHY DIET PLAN
                            </h5>
                            <p>
                                Achieving your fitness goals is not just about working out; it's also about what you eat. Our healthy diet plans are designed to complement your fitness routine, helping you stay on track and see results faster.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <i class="fa-solid fa-stopwatch-20"></i>
                        <div class="detail-box">
                            <h5>
                                SPORT TRAINING
                            </h5>
                            <p>
                                Whether you're training for a marathon, a competition, or just to stay in shape, our sport training programs are tailored to meet your specific needs. Our professional trainers will work with you to develop a training plan that maximizes your performance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


    
    
    <section class="about_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="detail-box">
                        <div class="heading_container ">
                            <h2 align="center">
                                About Us
                            </h2>
                        </div>
                        <p>
                            Welcome to CoreFitness, where our mission is to help you achieve your fitness goals in a supportive and motivating environment. Established with the vision of providing high-quality fitness services, we offer a range of facilities and programs designed to cater to all fitness levels.
                        </p>
                        <p>
                            At CoreFitness, we believe in a holistic approach to health and wellness. From tailored diet plans to specialized sport training programs, we are dedicated to supporting your journey to a healthier lifestyle. Join us and be part of a community that values health, fitness, and well-being.
                        </p>
                        <a href="/PHPCF/views/about/readmore.php">
                            Read More
                        </a>
                    </div>
                </div>
                <div class="col-abt">
                    <div class="img-box">
                        <img src="/PHPCF/images/about-img.jpg" alt="About Us Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <footer>
        <div class="container">
            <p>&copy; 2024 My Website. All rights reserved.</p>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </footer>

 
       
    
</body>
</html>
