<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Plans</title>

    <link rel="stylesheet"  type="text/css" href="/PHPCF/css/style.css" >


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a7136a10c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" media="screen and (min-width: 900px)" href="widescreen.css">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">


</head>
<body>
 
  
  <div class="topnav" id="myTopnav">
    <img class="logo" src="/PHPCF/images/white-logo.png">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="/PHPCF/views/home/index.html">Home</a></li>
      <li><a href="/PHPCF/views/pricing/pricing.html">Membership</a></li>
      <li><a href="/PHPCF/views/userlogin/account.php">Account</a></li>
      <li><a href="/PHPCF/views/payment/cart.php"><i class="fa-solid fa-shopping-cart"></i></a></li>
    </ul>
  </div>

  <div class="price-container">
    <div class="price-columns">
        <ul class="price">
          <li class="header">Basic</li>
          <li class="grey">R 1500 / month</li>
          <li>2 training sessions per week</li>
          <li>Basic nutrition guidance</li>
          <li>Access to all group classes</li>
          
          <li class="grey"><a href="/PHPCF/views/payment/cart.php" class="button">Sign Up</a></li>
        </ul>
      </div>
      
      <div class="price-columns">
        <ul class="price">
          <li class="header" style="background-color:#aa0404">Pro</li>
          <li class="grey">R 3000 / month</li>
          <li>3 training sessions per week</li>
          <li>Tailored nutrition advice</li>
          <li>Access to all group classes</li>
          <li>Monthly body composition scans</li>
          <li class="grey"><a href="/PHPCF/views/payment/cart.php" class="button">Sign Up</a></li>
        </ul>
      </div>
      
      <div class="price-columns">
        <ul class="price">
          <li class="header">Premium</li>
          <li class="grey">R 3500 / month</li>
          <li>5 training sessions per week</li>
          <li>Personalised nutrition plans</li>
          <li>Priority booking for all group classes</li>
          <li>Bi-weekly body composition scans</li>
          <li>Ongoing performance assessments</li>
          <li class="grey"><a href="/PHPCF/views/payment/cart.php" class="button">Sign Up</a></li>
        </ul>
      </div>
  </div>

  <footer>
    <div class="container">
        <p>&copy; 2024 My Website. All rights reserved.</p>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Store</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</footer>


</body>
</html>